@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-800);
}

.dark {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-100);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
