@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Serif";
    src: url("/fonts/ssf-variable.ttf");
}
@font-face {
    src: url("/fonts/ssf-italic.ttf");
    font-family: "Serif-Italic";
}

@font-face {
    src: url("/fonts/inter-tight.ttf");
    font-family: "Inter";
}

:root {
    --background: var(--color-neutral-50);
    --foreground: var(--color-neutral-800);
}

.dark {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-100);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", sans-serif;
}

article {
    font-family: "Serif", serif;
}
