@import "tailwindcss";

@font-face {
    src: url("../public/fonts/ssf-variable.ttf");
    font-family: "Source-Serif";
}

@font-face {
    src: url("../public/fonts/ssf-italic.ttf");
    font-family: "Source-Serif-Italic";
}

.article {
    font-family: "Source-Serif";
}
